* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    margin: 0.3cm;
    background-color: lightcyan;
    color: brown;
}

form input, form button {
    padding: 10px;
    font-size: 20px;
    border: none;
}
form input {
    min-width: 50%;
    margin-left: 0.1cm;

}

form button {
    color: pink;
    background-color: bisque;
    cursor: pointer;
}

form button:hover {
    background-color: orange;
}

.todo-input, .todo-button {
    float: left;
}

.todo-filter-nav {
    margin-left: 60%;
    font-size: 30px;
    max-width: fit-content;
}

.singlea {
    text-decoration: none;
    border: 3.3px solid black;
}

.todo-list {
    list-style: none;
    margin-top: 10px;
}

.todo {
    margin: 0.1cm;
    background: lightgoldenrodyellow;
    color: black;
    font-size: 20px;
    max-width: 51%;
    padding: 3px;
    display: flex;
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background: red;
    color: white;
    border: none;
    padding: 18px;
    cursor: pointer;
    border-radius: 10px;
}

.complete-btn {
    background: greenyellow;
}

.todo-item {
    padding: 0.1cm;
}

.completed {
    text-decoration: line-through;
    opacity: 0.25;
}

.todo-filter-nav {
    text-decoration: none;
}